@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  margin: 0;
  background-color: #131313;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 2px;
}

#bubble-wrapper {
  height: 100%;
  width: 100%;
  
  position: fixed;
  bottom: 0;

  overflow: hidden;
  pointer-events: none;
}

.bubble {
  height: max(300px, 30vw);
  width: max(300px, 30vw);

  background-color: rgb(33, 150, 243);
  border-radius: 100%;

  position: absolute;
  left: 50%;
  top: 100%;

  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  from, to {
    transform: translate(-50%, 0%);
  }
  50% {
    transform: translate(-50%, -20%);
  }
}